{% extends 'base.html' %}

{% block title %}Employee List{% endblock %}

{% block content %}
  <h1>Employee List</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Device Type</th>
        <th scope="col">Serial No.</th>
        <th scope="col">Company</th>
      </tr>
    </thead>
    <tbody>
      {% for device in devices %}
        <tr>
          <td>{{ device.device_type }}</td>
          <td>{{ device.serial_number }}</td>
          <td>{{ device.company }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No devices found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
